<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
       
        <!-- Template CSS -->
        <link href="/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index.html" class="brand-wrap">
                    <img src="/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/home?filter=Weekly">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-products-list">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/page-products-list">Product List</a>
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-orders-1.html">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Users</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/user-list">User  list</a> 
                        </div>
                    </li>
                   
                    <li class="menu-item ">
                        <a class="menu-link" href="/admin/category">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text">Category</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/order-list">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Orders</span>
                        </a>
                        
                    </li>
                   
                    <li class="menu-item active">
                        <a class="menu-link" disabled href="/admin/coupon">
                            <i style=" color: rgb(195, 198, 201);" class="ri-coupon-2-fill ri-xl"></i>
                            <span style="margin-left: 10px;" class="text">Coupon</span>
                        </a>
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="/admin/banner">
                            <i class="icon material-icons md-image"></i>
                          
                            <span class="text">Banners</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/refferal">
                            <i class="icon material-icons md-image"></i>
                          
                            <span class="text">refferal</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/offer">
                            <i class="icon material-icons md-image"></i>
                          
                            <span class="text">offer</span>
                        </a>
                    </li>
                </ul>
                <hr />
              
                </ul> 
                <br />
                <br />
            </nav>
        </aside>
        
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                            <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products"></option>
                            <option value="New orders"></option>
                            <option value="Apple iphone"></option>
                            <option value="Ahmed Hassan"></option>
                        </datalist>
                    </form>
                </div>
                 <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                  <ul class="nav">
                       
                        <li class="nav-item">
                            <form action="/admin/home/signout" method="post">
                                <button type="submit">
                                    logout
                                </button>
                            </form>
                        </li>   
                       
                    </ul> 
                </div> 
            </header>

            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Coupon Details</h2>
                    </div>
                    <div>
                        <a href="/admin/add-coupon">
                            <input type="button" value="Add coupon" style="color: white; font-weight: 700;" class="form-control bg-success"/>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                              
                                                <th>Coupon code</th>
                                                <th>Discount</th>
                                                <th>min-price</th>
                                                <th class="text-center">exp-date</th>
                                                <th>is expired</th>
                                                <th>actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(coupons.length > 0){ %>
                                            
                                                <% coupons.forEach((coupon) => { %>
                                                
                                                    <tr>
                                                      
                                                        <td><b> <%=coupon.couponcode%> </b></td>
                                                        <td> <%=coupon.discount%>%</td>
                                                        <td> <%=coupon.minprice%> </td>
                                                        <td class="text-center">
                                                          <%= coupon.expiryDate.toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: '2-digit' }).replace(/\//g, '-') %> 
                                                        </td>
                                                        <td style="font-weight: 700;">
                                                            <%if(coupon.isExpired){%>
                                                                true
                                                            <%}else{%>
                                                                false
                                                            <%}%>
                                                        </td>
                                                        <td>
                                                        <form action="/admin/coupon/delete/<%=coupon._id%>" method="post">
                                                                <button type="submit" class="bg-danger px-3" style="border: none; border-radius: 5px;">
                                                                    delete
                                                                </button>                                    
                                                        </form>                                     
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            <% }else{ %>
                                                <h3>No coupons are availale</h3>
                                            <% } %>
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>
                <!-- card .// -->
            </section>


           

            <!-- content-main end// -->
           
        </main>


       

        <script src="/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/js/vendors/select2.min.js"></script>
        <script src="/js/vendors/perfect-scrollbar.js"></script>
        <script src="/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
