<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">

        <link href="/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index.html" class="brand-wrap">
                    <img src="/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    
                 
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/home">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-products-list">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/page-products-list">Product List</a>
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-orders-1.html">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Users</span>
                        </a>
                        <div class="submenu">
                            <a href="/admin/user-list">User  list</a> 
                        </div>
                    </li>
                   
                    <!-- <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-sellers-cards.html">
                            <i class="icon material-icons md-store"></i>
                            <span class="text">Sellers</span>
                        </a>
                        <div class="submenu">
                            <a href="page-sellers-cards.html">Sellers cards</a>
                        </div>
                    </li> -->
                    <!-- <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-transactions-1.html">
                            <i class="icon material-icons md-monetization_on"></i>
                            <span class="text">Transactions</span>
                        </a>
                        <div class="submenu">
                            <a href="page-transactions-1.html">Transaction 1</a>
                            <a href="page-transactions-2.html">Transaction 2</a>
                        </div>
                    </li> -->
                    <!-- <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Account</span>
                        </a>
                        <div class="submenu">
                            <a href="page-account-login.html">User login</a>
                            <a href="page-account-register.html">User registration</a>
                            <a href="page-error-404.html">Error 404</a>
                        </div>
                    </li> -->
                    <li class="menu-item ">
                        <a class="menu-link" href="/admin/category">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text">Category</span>
                        </a>
                    </li>
                    <li class="menu-item active">
                        <a class="menu-link" href="/admin/order-list">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Orders</span>
                        </a>
                        
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" disabled href="/admin/coupon">
                            <i style=" color: rgb(195, 198, 201);" class="ri-coupon-2-fill ri-xl"></i>
                            <span style="margin-left: 10px;" class="text">Coupon</span>
                        </a>
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="/admin/banner">
                            <i class="icon material-icons md-image"></i>
                            <span class="text">Banners</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/refferal">
                            <i class="icon material-icons md-image"></i>
                          
                            <span class="text">refferal</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/admin/offer">
                            <i class="icon material-icons md-image"></i>
                          
                            <span class="text">offer</span>
                        </a>
                    </li>
                </ul>
                <hr />
              
                <br />
                <br />
            </nav>
        </aside>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                            <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products"></option>
                            <option value="New orders"></option>
                            <option value="Apple iphone"></option>
                            <option value="Ahmed Hassan"></option>
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <form action="/admin/home/signout" method="post">
                                <button type="submit">
                                    logout
                                </button>
                            </form>
                        </li>
                        
                    </ul>
                </div>
            </header>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order detail</h2>
                    </div>
                </div>
                <div class="card">
                   
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="row mb-10 mt-10 order-info-wrap">
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-person"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Customer</h6>
                                        <p class="mb-1">
                                            <%=order[0].user_Details.firstname%> <br />
                                            <%=order[0].user_Details.email%> <br />
                                            
                                        </p>
                                        <a href="#">View profile</a>
                                    </div>
                                </article>
                            </div>
                            <!-- col// -->
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-local_shipping"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Order info</h6>
                                        <p class="mb-1">
                                            Shipping: Fargo express <br />
                                            Pay method: <%=order[0].paymentMethod%> <br />
                                            Status: 
                                        </p>
                                        <a href="#">Download info</a>
                                    </div>
                                </article>
                            </div>
                            <!-- col// -->
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span class="icon icon-sm rounded-circle bg-primary-light">
                                        <i class="text-primary material-icons md-place"></i>
                                    </span>
                                    <div class="text">
                                        <h6 class="mb-1">Deliver to</h6>
                                        <p class="mb-1">
                                             <%=order[0].address.housename%> <br /> <%=order[0].address.address%> <br />
                                            CIty:<%=order[0].address.districtORcity%> -
                                            <%=order[0].address.state%>
                                        </p>
                                        <a href="#">View profile</a>
                                    </div>
                                </article>
                            </div>
                            <!-- col// -->
                        </div>
                        <header class="card-header">
                            <div class="row  align-items-center">
                                <div class="col-lg-6 col-md-6 mb-lg-0 mb">
                                    <span> <i class="material-icons md-calendar_today"></i> <b> 
                                        <%= order[0].orderDate.toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: '2-digit' }).replace(/\//g, '-') %>  

                                     </b> </span> <br />
                                    <small class="text-muted">
                                        <% if(order[0].orderDate.getHours() >= 12){ %>
                                            <%=order[0].orderDate.getHours()%>:<%=order[0].orderDate.getMinutes()%>:PM
                                          <% }else{ %>
                                            <%=order[0].orderDate.getHours()%>:<%=order[0].orderDate.getMinutes()%>:AM
                                          <% } %>
                                    </small>
                                </div>
                                <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                                    <% if(order[0].orderItems.orderStatus !== 'cancelled'){ %>
                                        <form action="/admin/order/edit-order-status/<%=order[0]._id%>?proId=<%=order[0].orderItems.productId%>" method="post">
                                            <select name="orderStatus" class="form-select d-inline-block mb-lg-0 mr-5 mw-200">
                                                <option value=""><%=order[0].orderItems.orderStatus%></option>
                                                <%   if(order[0].orderItems.orderStatus === 'shipped'){ %>
                                                    <option>pending</option>
                                                    <option>ordered</option>
                                                    <option>delivered</option>
                                                <%  }else if(order[0].orderItems.orderStatus === 'pending'){ %>
                                                    <option>ordered</option>
                                                    <option>shipped</option>
                                                    <option>delivered</option>
                                                <%  }else if(order[0].orderItems.orderStatus === 'ordered'){ %>
                                                    <option>pending</option>
                                                    <option>shipped</option>
                                                    <option>delivered</option>
                                                <%   }else if(order[0].orderItems.orderStatus === 'delivered'){ %>
                                                    <option>pending</option>
                                                    <option>ordered</option>
                                                    <option>shipped</option>
                                                <%   }else{ %>
                                                    <option value="">cancelled</option>
                                                <%  } %>            
                                            </select>
                                            <button type="submit" class="btn btn-primary">
                                                Save
                                            </button>
                                        </form>
                                    <% }else{ %>
                                        <select name="orderStatus" class="form-select d-inline-block mb-lg-0 mr-5 mw-200">
                                            <option>cancelled</option>   
                                        </select>
                                    <% } %>
                                    
                                   
                                    
                                   
                                </div>
                            </div>
                        </header>
                        <!-- row // -->
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="40%">Product</th>
                                                <th width="20%">Unit Price</th>
                                                <th width="20%">Quantity</th>
                                                <th width="20%" >Total</th>
                                                <th width="20%">offer%</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            <tr>
                                                <td>
                                                    <a class="itemside" href="#">
                                                        <div class="left">
                                                            <img src="/images/product/<%=order[0].productDetails.images[0]%>" width="40" height="40" class="img-xs" alt="Item" />
                                                        </div>
                                                        <div class="info">Sweet & Salty Kettle Corn</div>
                                                    </a>
                                                </td>
                                                <td>900</td>
                                                <td><%=order[0].orderItems.quantity%></td>
                                                <td><%=order[0].price%></td>
                                                <td><%=order[0].productDetails.offer%> % </td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div> 
                                <!-- table-responsive// -->
                            </div>
                            <!-- col// -->
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <!-- <div class="box shadow-sm bg-light">
                                    <h6 class="mb-15">Payment info</h6>
                                    <p>
                                        <img src="/imgs/card-brands/2.png" class="border" height="20" /> Master Card **** **** 4768 <br />
                                        Business name: Grand Market LLC <br />
                                        Phone: +1 (800) 555-154-52
                                    </p>
                                </div> -->
                                <!-- <div class="h-25 pt-4">
                                    <div class="mb-3">
                                        <label>Notes</label>
                                        <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                                    </div>
                                    <button class="btn btn-primary">Save note</button>
                                </div> -->
                            </div>
                            <!-- col// -->
                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
            </section>
            <!-- content-main end// -->
           
        </main>
       
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/js/vendors/select2.min.js"></script>
        <script src="/js/vendors/perfect-scrollbar.js"></script>
        <script src="/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/js/main.js?v=1.1" type="text/javascript"></script>
        
    </body>
</html>
